.container-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    box-sizing: border-box;
    height: 100vh;
}

.left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 30%;
    padding: 50px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    height: 70vh;
}

.right {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    background-color: beige;
    width: 70%;
    padding: 50px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    height: 70vh;
}

@media (max-width: 576px) {
    .container {
        flex-direction: column;
        /* Stack the divs vertically */
        height: auto;
        /* Adjust height for vertical stacking */
    }

    .left,
    .right {
        width: 100%;
        /* Ensure each div takes full width */
        height: 50vh;
        /* Optional: each div takes half the viewport height */
    }
}